<!DOCTYPE html>
<html>

{% block title %}{{excel.Title}}{% endblock title %}


{% load static %}
  

{% block content %}

{%for excel in allPosts%}

    {% comment %} <li>
      <a href="{% url 'article' excel.pk %}">{{excel.title}}</a> -{{excel.author}}<small>-{{excel.date}}</small><br/>
    </li> {% endcomment %}


            {% comment %} <div class="card-header mx-3">
            <div> Featured Query Number{{excel.pk}}
            </div> {% endcomment %}
            <div class="card-body">
              <h5 class="card-title">Title:{{excel.Title}}</h5>
              <p class="card-text">Written By:{{excel.authors}}.</p>
              <p class="card-text">WOS-id:{{excel.dbid}}.</p>
              
              <input class="form-check-input
              "type="checkbox" value=
              {{event.id}} named="boxs">
              <label for="demoCheckbox"> relavant!</label> 
              <hr></hr>
                
              
            </div>







          </div>
      </div>
    </div>

    </div> 
    
{% endfor %}


<div class="demo-container">
  <a href="{% url 'venue_csv' %}">
      <button>DOWNLOAD</button>
  </a>
  <br></br>

{% endblock content %}
</html>


{% comment %} 
<a href="{% url 'view_data' %}">
  <button>View Data</button>
</a> {% endcomment %}